.media-post {
    display: flex;
    flex-wrap: wrap;
    max-width: 752px;
    max-height: 100%;
    border: 1px solid #E8EEF1;
    margin: 1.125em auto;
    min-width: 260px;
}

.media-info {
    display: flex;
    flex-wrap: wrap;
}

.img-perfil {
    max-width: 64px;
    margin: 5px;
}

.info-usuario, .info-usuario h3 {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin: 0 5px;
}

.info-usuario p {
    margin: 0 2px;
    color: #75889D;
    font-size: 1.125em;
}

.media-img {
    display: initial;
    margin: 5px auto 30px auto;
    max-width: 647px;
}

.media-post a {
    text-decoration: none;
    font-size: 1.125em;
    color: blue;
}

/* --Animação do scroll dos textos*/

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime="left"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="rigth"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="down"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@media only screen and (min-width: 426px) {
    .media-mensagem {
        margin-left: 35.5px;
        margin-right: 35.5px;
        margin-bottom: 15px;;
    }
}

.media-mensagem a:hover {
    color: rgb(62, 109, 252);
    transition: all .3s;
}

.media-img a:hover {
    color: rgb(62, 109, 252);
    transition: all .3s;
}

main {
    padding-left: 10px;
    padding-right: 10px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
.gallery img{
    max-width: 150px;
    padding: 5px;
    transition: 1s;
}
.gallery img:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 769px) {
    .gallery img{
        max-width: 120px;
    }
}