/* fonte padrão: font-family: 'Nunito', sans-serif;

Cores: 
Destaque #F67A56 (header, botoes e detalhes pontuais)
Base #FFF7E8 (blocos e contornos),
Textos claros #FFFFFF,
Textos escuros e rodapé #334459
*/

@import url("reset.css");
@import url("topo.css");

body {
    font-family: 'Nunito', sans-serif;
    background-color: #FFFFFF;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}


/*
.texto-sobre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
*/
.explicação-proj h1{
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-align: center;
    color: #334459;
    position: relative;
    padding-bottom: 4rem;
}

.explicação-proj p{
    font-size: 1.5rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: #334459;
    text-align: justify;
}

.img-sobre{
    transform: scale(0.4);
    margin: -10rem auto;
}

@media screen and (min-width: 768px){
    .explicação-proj{
        margin: 5rem auto;    
    }

    .img-sobre{
        transform: scale(0.7);
        display: block;
        margin-left: auto;
        margin-right: auto;  
    }

}

@media screen and (min-width: 1300px){
    .container{
        padding-top: 5rem;
        background-color: #FFFFFF;
        margin-left: 10%;
    }


    .explicação-proj{
        justify-content: flex-start;
        margin-top: 10rem;       
      }

    .explicação-proj h1{
        text-align: start;
        margin-left: 5rem;
    }


    .texto-sobre{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .img-sobre{
        position: relative;
        top: 10%;       
        right: 10%;
        max-width: 496px;
        height: 553px;
        align-items: center;
    }

}



.título{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    text-align: center;
    color: #334459;
    position: relative;
    padding-bottom: 4rem;
}

.img-sobre{
    max-width: 50rem;

}

.explicação-proj{
    top: 864px;
    left: 137px;
    max-width: 557px;
    height: 333px;
}

.equipe-container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;

}

.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0,0.4) ;

}

.card:hover{
    box-shadow: .5rem .5rem 3rem #F67A56 ;
}

.card .card-img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);


}

.img-perfil{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 99;
    border: 1px solid #ebeef8;
}

.card h2{
    font-size: 2.5rem;
    color: #334459;
    margin: 2.5rem 0;    
}

.introducao{
    font-size: 1.5rem;
    margin: 1.5rem 2rem;
    text-align: center;
    color: #334459;
}

.card .btn{
    padding: 1rem 2.5rem;
    background-color: #F67A56;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover{
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0,0.2);
}

.card .btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.redes-sociais{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

}

.redes-sociais i{
    font-size: 3rem;
    color: #334459;
    transition: color .5s;
}

.redes-sociais i:hover{
    color: #F67A56;
}

@media screen and (min-width: 700px){
    .equipe-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;      

    }

    .card{
        margin: 2rem;
    }
}