
.header {
    background-color: #F67A56;
    height: 400px;
}

.header-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 30px;
    justify-content: space-between;
}

.header a, .header h1, .nav-separador{
    font-weight: 700;
    font-size: 2.25em;
    line-height: 46px;
    color: #FFFFFF;
} 

.header a {
    letter-spacing: 0.1em;
}

.header-nav:first-child{
    display: block;
    content: " ";
    border-right: #FFFFFF 3px solid;
    background: red;;
}

.header-logo {
    margin-top: 50px;

}

